<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular</a>
    </div> -->
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/post" routerLinkActive="active">Post</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>

  <div class="panel-footer">
    <ul>
      <li>References :</li>
      <li>
        <a href="https://angular.io/guide/http" target="_blank">Http Client</a>
      </li>
      <li>
        <a href="https://medium.com/codingthesmartway-com-blog/using-bootstrap-with-angular-c83c3cee3f4a" target="_blank">Angular Bootstrap</a>
      </li>
      <li>
        <a href="https://tutorialzine.com/2016/01/learn-sass-in-15-minutes" target="_blank">Sassy Sass</a>
      </li>
      <li>
        <a href="https://scotch.io/tutorials/using-sass-with-the-angular-cli" target="_blank">Angular with Sass</a>
      </li>
    </ul>
  </div>

</div>